* {
    margin:10px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
  }

h1{
    text-align: center;
    border: 2px solid red;
}

h3{
    display: inline-block;
    margin: 0;;
}

.container{
    background-color: white;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    border-spacing: 30px;
  }